.container{
    padding:8%;
    
}
.login{
    border: solid 1px rgb(255, 255, 255);
    width: 300px;
    display: block;
    margin: auto;
    padding: 30px;
    background-color: aliceblue;
    border-radius: 8px;
}
.titleLogin{
    text-align: center;
}